.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.primary {
  color: black;
  border: 1px solid green;

  &:hover {
    background-color: green;
    color: white;
  }

  &:active {
    background-color: green;
    color: white;
  }
}

.secondary {
  color: red;
  border: 1px solid red;

  &:hover {
    background-color: red;
    color: white;
  }
  

}