.modal {
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__footer {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}

.select {
  position: relative;
  width: 100%;

  &__label {
    top: -20px;
    left: 0;
    position: absolute;
    font-size: 14px;
    color: black;
    font-weight: 500;
  }

  &__custom {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    appearance: none;
    cursor: pointer;
    transition: border-color 0.3s;

    &:hover, &:focus-within {
      outline: none;
      border: 1px solid green;
    }
  }
}

@media (max-width: 1400px) {
  .select__custom {
    padding: 2px 4px;
  }
}