.walls-table {
  width: 100%;
  border-collapse: collapse;

  &__header {
    background: #f0f0f0;
  }

  &__header-row {
    text-align: center;
  }

  &__cell {
    border: 1px solid #ccc;
    padding: 8px;

    &--order {
      width: 50px;
      text-align: center;
    }
  }
}

.walls__view-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

@media (max-width: 1400px) {
  .walls-table {
    &__cell {
      padding: 4px;
    }
  }

  .walls__view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
